<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Login</title>
  <style>
    body {
      background-color: #004684;
    }

    #border {
      /*margin: auto;*/
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;
      padding: 50px;
      border-radius: 15px;
      background: #fdb927;
    }

    #form {
      color: #50309b;
      text-align: center;
    }

    #test {
      color: gray;
    }

    #title{
      color:#fdb927;
    }
  </style>
</head>

<body>
  <h1 id="title">Banner System Login</h1>
  <div id="border">
    <form id="form" method="post" onSubmit="return(validateSubmit());" action="/login">
      <br>Banner ID: <br>
      <input type="text" name="banner">
      <br>Password: <br>
      <input type="password" name="password"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>
<script>
  function validateSubmit() {
    var x = document.forms["form"]["banner"].value;
    if (x == "" || isNaN(x) || x.length != 9) {
      alert("Must Enter Valid Banner ID");
      return false;
    }
    var y = document.forms["form"]["password"].value;
    if (y == "" || y.length < 6) {
      alert("Password must be filled out and be at least 6 characters long");
      return false;
    }
  }
</script>