<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<script type="text/javascript" src="validate.js"></script>-->
  <style>
    body {
font-family: Arial;
background: #fdb927;

}
#studentTable,td{
  border: 1px solid #004684;
}
#table {
	color:white;
	padding: 20px;
	background-color: #004684;
	margin-left: auto;
	margin-right: auto;
	/*width: 20%*/
	
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #004684;
}

/* Style the buttons inside the tab */
#button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
#farbutton {
  color: white;
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  background-color: white;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.form-popup {
  display: none;
  position: fixed;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

</style>
  <title> Instructor </title>
</head>

<body>

  <h2>Dr. {{last}}</h2>
  <h3>Last Login: {{time}}</h3>

  <div class="tab">
    <button id="button" class="tablinks" onclick="instructTab(event, 'Courses')">Active Students</button>
    <button id="button" class="tablinks" onclick="instructTab(event, 'PersonalInfo')">Personal Information</button>
    <button id="farbutton" class="tablinks" onclick="instructTab(event, 'New Student')"> + New Student</button>
  </div>


  <div id="Courses" class="tabcontent">
    <p>Students: </p>
    <table id='studentTable'>
      <tr>
        <td>Banner</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Credit Hours</td>
        <td>Balance</td>
        <td>Edit</td>
      </tr>
      {%for student in students%}
      <tr>
        <td id="banner{{loop.index}}">{{student.banner}}</td>
        <td id="first{{loop.index}}">{{student.first_name}}</td>
        <td id="last{{loop.index}}">{{student.last_name}}</td>
        <td id="email{{loop.index}}">{{student.email}}</td>
        <td id="gpa{{loop.index}}">{{student.gpa}}</td>
        <td id="credit{{loop.index}}">{{student.credit_hours}}</td>
        <td id="balance{{loop.index}}">${{student.balance}}</td>
        <td><button class="open-button" id="edit{{loop.index}}" onclick="openForm(this.id)">Edit</button></td>
      </tr>
      {% endfor %}
    </table>
    <div class="form-popup" id="myForm">
      <form action="/instructor_update" name="studentUpdating" onsubmit="return(validateUpdate());" method="post">
        <table id="table">
          <tr>
            <td colspan=2>
              <center>
                <font size=4><b>Edit Student</b></font>
              </center>
            </td>
          </tr>
          <tr>
            <td>First Name</td>
            <td><input type="text" name=popFirst id="popFirst" size="30" readonly></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="text" name=poplast id="poplast" size="30" readonly></td>
          </tr>
          <tr>
            <td>Banner Number</td>
            <td><input type="text" name=popBanner id="popBanner" size="30" readonly></td>
          </tr>
          <tr>
            <td>GPA</td>
            <td><input type="text" name=gpa id="gpa" size="30"></td>
          </tr>
          <tr>
            <td>Balance</td>
            <td>$<input type="text" name=balance id="balance" size="30"></td>
          </tr>
          <tr>
            <td>Credit Hours</td>
            <td><input type="text" name=credithours id="credithours" size="30"></td>
          </tr>
          <tr>

        </table>
        <button type="submit">Submit</button>
        <button type="button" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>

  <div id="PersonalInfo" class="tabcontent">
    <p>First Name: {{first}}</p>
    <p>Last Name: {{last}}</p>
    <p>Banner ID: {{banner}}</p>
    <p>Email: {{email}}</p>
    <p>Personal Address: {{address}}</p>
    <p>Phone Number: {{phone}}</p>
  </div>

  <div id="New Student" class="tabcontent">
    <form method="post" action="/create_student" name="StudentRegistration" onsubmit="return(validate());">
      <table id="table">
        <tr>
          <td colspan=2>
            <center>
              <font size=4><b>Student Registration Form</b></font>
            </center>
          </td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type=text name=first_name id="firstName" size="30"></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><input type=text name=last_name id="lastName" size="30"></td>
        </tr>
        <tr>
          <td>Personal Address</td>
          <td><input type="text" name="address" id="address" size="30"></td>
        </tr>
        <tr>
          <td>City</td>
          <td><input type="text" name="city" id="city" size="30"></td>
        </tr>
        <tr>
          <td>State</td>
          <td><input type="text" name="state" id="State" size="30"></td>
        </tr>
        <tr>
          <td>Zip Code</td>
          <td><input type="text" name="zip_code" id="zipcode" size="30"></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" id="emailid" size="30"></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td><input type="text" name="phone_number" id="mobileno" size="30"></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><label for="dob"></label><input type="date" name="dob" id="dob"></td>
          </select></td>
        </tr>
        <tr>
          <td>Banner Number </td>
          <td><input type="text" name="banner" id="banner" size="30"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="text" name="password" id="password" size="30"></td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>$<input type="text" name="balance" id="new_balance" size="30"></td>
        </tr>
        <tr>
          <td><input type="reset"></td>
          <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
      </table>
    </form>
  </div>

  <script>
    function instructTab(evt, instructorTab) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(instructorTab).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function openForm(click_id) {
       
      document.getElementById("myForm").style.display = "block";
      id = click_id.slice(-1);
      banner = document.getElementById("banner"+id);
      first = document.getElementById("first"+id);
      last = document.getElementById("last"+id);
      gpa = document.getElementById("gpa"+id);
      balance = document.getElementById("balance"+id);
      credit = document.getElementById("credit"+id);
      document.getElementById('popFirst').value = first.innerText;
      document.getElementById('poplast').value = last.innerText;
      document.getElementById('popBanner').value = banner.innerText;
      document.getElementById('gpa').value = gpa.innerText;
      document.getElementById('credithours').value = credit.innerText;
      document.getElementById('balance').value = balance.innerText.substr(1);
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

    function validate() {
      if (document.StudentRegistration.firstName.value == "") {
        alert("Please enter your First Name!");
        document.StudentRegistration.firstName.focus();
        return false;
      }
      if (document.StudentRegistration.lastName.value == "") {
        alert("Please enter your Last Name!");
        document.StudentRegistration.lastName.focus();
        return false;
      }
      if (document.StudentRegistration.address.value == "") {
        alert("Please enter your Address!");
        document.StudentRegistration.address.focus();
        return false;
      }
      if (document.StudentRegistration.city.value == "") {
        alert("Please enter your City!");
        document.StudentRegistration.city.focus();
        return false;
      }
      if ((document.StudentRegistration.state.value == "")) {
        alert("Please enter your State!");
        document.StudentRegistration.state.focus();

        return false;
      }
      if (document.StudentRegistration.zipcode.value == "" ||
        isNaN(document.StudentRegistration.zipcode.value) ||
        document.StudentRegistration.zipcode.value.length != 5) {
        alert("Please enter a zipcode in the format ######.");
        document.StudentRegistration.zipcode.focus();
        return false;
      }
      var email = document.StudentRegistration.emailid.value;
      atpos = email.indexOf("@");
      dotpos = email.lastIndexOf(".");
      if (email == "" || atpos < 1 || (dotpos - atpos < 2)) {
        alert("Please enter a correct email address")
        document.StudentRegistration.emailid.focus();
        return false;
      }
      if (document.StudentRegistration.mobileno.value == "" ||
        isNaN(document.StudentRegistration.mobileno.value) ||
        document.StudentRegistration.mobileno.value.length != 10) {
        alert("Please enter a 10 digit phone number!");
        document.StudentRegistration.mobileno.focus();
        return false;
      }
      if (document.StudentRegistration.sex.value == "-1") {
        alert("Please chose an option!");
        document.StudentRegistration.sex.focus();
        return false;
      }
      if (document.StudentRegistration.banner.value == "" ||
        isNaN(document.StudentRegistration.banner.value) ||
        document.StudentRegistration.banner.value.length != 9) {
        alert("Please enter a 9 digit banner number.");
        document.StudentRegistration.banner.focus();
        return false;
      }
      if (document.StudentRegistration.dob.value == null) {
        alert("Please enter your Date of Birth!");
        document.StudentRegistration.dob.focus();
        return false;
      }

      function validateUpdate() {
        if (document.studentUpdating.gpa.value == "") {
          alert("Please enter Students New GPA");
          document.studentUpdating.gpa.focus();
          return false;
        }
        if (document.studentUpdating.balance.value == "") {
          alert("Please enter Students New Balance");
          document.studentUpdating.balance.focus();
          return false;
        }
        if (document.studentUpdating.address.value == "") {
          alert("Please enter Students New Credit Hours");
          document.studentUpdating.creditHours.focus();
          return false;
        }
        return (true);
      }

      return (true);
    }
  </script>
</body>

</html>